

<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form (ngSubmit)="onSubmit(checkoutForm)" #checkoutForm="ngForm">
          <!--[formGroup]="checkoutForm" (ngSubmit)="onSubmit()"-->
        <!--<input id="Name" type="hidden" name="Id" [(ngModel)]="employee.Id">-->
        <div class="form-group">
            <label >Name</label>
            <input id="name" type="text" class="form-control" name="name"  
                   [(ngModel)]="employee.Name" #myname="ngModel" required >
        </div>
        <div class="form-group">
            <label for="city">
                city
            </label>
            <input id="city" type="text" class="form-control" name="city"
                     [(ngModel)]="employee.City"   #city="ngModel" required value="Mumbai">
        </div>
        <div class="form-group">
            <label for="address">
                Address
            </label>
            <input id="address" type="text" class="form-control" name="address" 
                    [(ngModel)]="employee.Address" #address="ngModel" required value="Ahmd" >
        </div>

        <button class="btn btn-success" type="submit" [disabled]="!checkoutForm.form.valid">Add</button>

    </form>
</body>
</html>
