<form (ngSubmit)="onSubmit(checkoutForm)" #checkoutForm="ngForm">
    <div class="form-group" [class.has-error]="name.invalid && name.touched"
         [class.has-success]="name.valid">
        <input id="id" type="hidden" class="form-control" name="id"
               [(ngModel)]="employee.Id" #Id="ngModel" required>
        <label>Name</label>
        <input id="name" type="text" class="col-sm-2 form-control" name="name"
               [(ngModel)]="employee.name" #name="ngModel" required>
        <span *ngIf="name.error && name.error.required && name.touched">
            First name is  required
        </span>
    </div>

    <div class="form-group" [class.has-error]="city.invalid && city.touched"
         [class.has-success]="city.valid">
        <label for="city">
            city
        </label>
        <input id="city" type="text" class="form-control" name="city"
               [(ngModel)]="employee.city" #city="ngModel" required>
    </div>

    <div class="form-group" [class.has-error]="gender.invalid" [class.has-success]="gender.valid">
        <label class="control-label">gender</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="gender" value="ale"
                       [(ngModel)]="employee.gender" #gender="ngModel" >Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="female"
                       [(ngModel)]="employee.gender" #gender="ngModel" >female
            </label>
        </div>
        <!--<span class="help-block" *ngIf="gender.invalid">
            Gender is required
        </span>-->
    </div>

    <!--<div class="form-group">
        <label for="department">
            department
        </label>
        <select id="department" type="text" class="form-control" name="department"
               [(ngModel)]="employee.department" #city="ngModel" required">
            <option id="1">HR</option>
            <option id="2">IT</option>
            <option id="3">FINANCE</option>
            <option id="4">STAFF</option>
        </select>
    </div>-->

    <div class="form-group">
        <label for="department">
            department
        </label>
        <input id="department" type="text" class="form-control" name="department"
               [(ngModel)]="employee.department" #department="ngModel" required>
    </div>

    <div class="form-group">
        <label for="email">
            email
        </label>
        <input id="email" type="text" class="form-control" name="email"
               [(ngModel)]="employee.email" #email="ngModel" required>
    </div>


    <div class="form-group">
        <label for="contact">
            contact
        </label>
        <input id="contact" type="text" class="form-control" name="contact"
               [(ngModel)]="employee.contact" #contact="ngModel" required>
    </div>

    <button class="btn btn-primary" type="Update" [disabled]="!checkoutForm.form.valid">Add</button>

</form>

