<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;">
            <td>{{employee.Id}}</td>
            <td>{{employee.Name}}</td>
            <td>{{employee.City}}</td>
            <td>{{employee.Address}}</td>
            <td><button title="Edit" (click)="onUpdate(employee)">Edit</button>
            <button title="Delete" (click)="OnDelete(employee.Id)">Delete</button></td>
        </tr>
    </tbody>
</table>